<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <script>
      var Hyphenopoly = {
          require: {
              "la": "FORCEHYPHENOPOLY",
              "en-us": "FORCEHYPHENOPOLY"
          },
          paths: {
              patterndir: "vendor/hyphenator/patterns/",
              maindir: "vendor/hyphenator/"
          },
          setup: {
              classnames: {
                  "hyphenate": {}
              }
          }
      };
    </script>
    <script src="vendor/hyphenator/Hyphenopoly_Loader.js"></script>


    <title>Missal.io</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="vendor/app.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!--
    <link rel="icon" type="image/png" href="http://example.com/favicon.png" />
    <link rel="icon" type="image/gif" href="http://example.com/favicon.gif" />
    -->

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114467819-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114467819-1');
    </script>

  </head>

  <body>

    <div id="app">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Missal.io</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a class="nav-link disabled" v-on:click="navHide()">Today</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"  v-bind:class="{ disabled: currentLiturgy == null }"  v-on:click="clearLiturgy(); navHide()">
            		  Back
            		</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" :href="apiIndex" target="_blank">API</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/benyanke/missal.io" target="_blank">Github</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      <!-- Page Content -->
      <div class="container" v-if="appReady" v-cloak>

        <div class="row" v-if="currentLiturgy == null">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5 mb-4">TLM Propers</h1>
            <!-- <p class="lead"></p> -->

            <ul
              class="list-unstyled"
              v-for="row in indexContent"
              v-if="! hideIncomplete || row.status == 'complete'">

              <li
                v-on:click="liturgySelectHandler(row.slug)"
                class="btn btn-primary btn-xs"
                v-text="row.name">
              </li>
            </ul>

          </div>
        </div>

        <!-- Display the current liturgy -->
        <div v-if="currentLiturgy != null">

          <div class="row header">
            <div class="col text-center">
              <h1 class="mt-5 liturgy-name" v-text="currentLiturgy.name"></h1>
              <p class="m-1" v-if="currentLiturgy.sourceLink">Compiled from <a :href=currentLiturgy.sourceLink target="_blank">this source</a></p>
              <!-- p><span v-on:click="clearLiturgy" v-on:keyup.esc="clearLiturgy" class="btn btn-primary">Back to index</span></p> -->
            </div>
          </div>

          <!-- Loop through text blocks -->
          <div class="row" v-for="section in currentLiturgy.textblocks">

            <!-- Col header for rubrics and headings -->
            <div class="col header text-center mt-3 section-heading">

              <!-- Section heading -->
              <h2 class="main" v-if="!section.heading" v-text="titleCase(section.type)"></h2>
              <h2 class="main" v-else-if="section.heading && section.type != 'section-heading'" v-text="titleCase(section.heading)"></h2>
              <h2 class="main" v-else v-text="titleCase(section.heading)"></h2>

              <!-- Rubrics -->
              <span class="citation" v-if="section.citation" v-html="arrayHandler(section.citation)"></span>

            </div>


            <!-- Rubic text entries -->
            <div v-if="section.type == 'rubric'"
              class="col text-center text-rubric"
              v-text="arrayHandler(getElementByKey(section.text, 'lang', 'en').content)">
            </div>

            <!-- Regular text entries -->
            <div v-else class="row m-2 hyphenate">

              <div class="col text text-justify text-latin hyphenate"
                lang="la"
                v-if="getElementByKey(section.text, 'lang', 'la')"
                v-html="arrayHandler(getElementByKey(section.text, 'lang', 'la').content)">
              </div>

              <div class="col text text-justify text-english hyphenate"
                lang="en"
                v-if="getElementByKey(section.text, 'lang', 'en')"
                v-html="arrayHandler(getElementByKey(section.text, 'lang', 'en').content)">
              </div>

            </div>

<!--
            <div class="col-lg-12 text-center">
              <hr />
              <div class="list-unstyled">

                  <h2 v-if="section.type == 'section-heading'">{{ section.text[0].content }}</h2>
                  <h3 v-else-if="section.heading">{{ section.heading }}<br /></h3>
                  <h3 v-else-if="section.type && section.type != 'rubric'">{{ titleCase(section.type) }}<br /></h3>


                  <span v-if="section.citation"><em>{{ section.citation }}</em><br /></span>


                  <div class="rubric" v-if="section.type == 'rubric'"><em>{{ getElementByKey(section.text, "lang", "en").content }}</em></div>
                  <div class="english-text" v-else v-html="getElementByKey(section.text, 'lang', lang).content"></div>
              </div>
            -->

            </div>
          </div>

        </div>

      <!-- Loading container -->
      <div class="container" v-if="!appReady" v-cloak>
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="mt-5">Loading...</h1>
          </div>
        </div>
      </div>

    <!-- End of Vue app -->
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Hypthenator -->

    <!-- VueJS -->
    <!-- use min for production -->
    <!-- <script src="vendor/vue/vue.min.js"></script> -->
    <script src="vendor/vue/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script src="vendor/app.js"></script>

  </body>

</html>
